

<!DOCTYPE html>
<html style="background-color: white;">
  <head>
    <meta charset="utf-8">

    <!-- Styleguide -->
    <link media="all" rel="stylesheet" href="/css/app.css">

    <!-- Fractal Only -->
    <link media="all" rel="stylesheet" href="/css/fractal.css">

    <script>
      (function(d) {
        var config = {
          kitId: 'fiq7lcq',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <title>Default | Styleguide </title>
  </head>
  <body>

    <div class="color-blocks">
      <div class="color-block">
      <div class="color-block__tile u-bg-blue-dark"></div>
      <div class="color-block__name"><span class="fractal-label">Sass:</span> <code class="fractal-code">$blue-dark</code></div>
      <div class="color-block__name"><span class="fractal-label">Color Class:</span> <code class="fractal-code">.u-c-blue-dark</code></div>
      <div class="color-block__name"><span class="fractal-label">Background Class:</span> <code class="fractal-code">.u-bg-blue-dark</code></div>
      <div class="color-block__name"><span class="fractal-label">Fill Class:</span> <code class="fractal-code">.u-fill-blue-dark</code></div>
      <div class="color-block__name"><span class="fractal-label">Stroke Class:</span> <code class="fractal-code">.u-stroke-blue-dark</code></div>
    </div>
      <div class="color-block">
      <div class="color-block__tile u-bg-blue-med"></div>
      <div class="color-block__name"><span class="fractal-label">Sass:</span> <code class="fractal-code">$blue-med</code></div>
      <div class="color-block__name"><span class="fractal-label">Color Class:</span> <code class="fractal-code">.u-c-blue-med</code></div>
      <div class="color-block__name"><span class="fractal-label">Background Class:</span> <code class="fractal-code">.u-bg-blue-med</code></div>
      <div class="color-block__name"><span class="fractal-label">Fill Class:</span> <code class="fractal-code">.u-fill-blue-med</code></div>
      <div class="color-block__name"><span class="fractal-label">Stroke Class:</span> <code class="fractal-code">.u-stroke-blue-med</code></div>
    </div>
      <div class="color-block">
      <div class="color-block__tile u-bg-blue-light"></div>
      <div class="color-block__name"><span class="fractal-label">Sass:</span> <code class="fractal-code">$blue-light</code></div>
      <div class="color-block__name"><span class="fractal-label">Color Class:</span> <code class="fractal-code">.u-c-blue-light</code></div>
      <div class="color-block__name"><span class="fractal-label">Background Class:</span> <code class="fractal-code">.u-bg-blue-light</code></div>
      <div class="color-block__name"><span class="fractal-label">Fill Class:</span> <code class="fractal-code">.u-fill-blue-light</code></div>
      <div class="color-block__name"><span class="fractal-label">Stroke Class:</span> <code class="fractal-code">.u-stroke-blue-light</code></div>
    </div>
      <div class="color-block">
      <div class="color-block__tile u-bg-orange"></div>
      <div class="color-block__name"><span class="fractal-label">Sass:</span> <code class="fractal-code">$orange</code></div>
      <div class="color-block__name"><span class="fractal-label">Color Class:</span> <code class="fractal-code">.u-c-orange</code></div>
      <div class="color-block__name"><span class="fractal-label">Background Class:</span> <code class="fractal-code">.u-bg-orange</code></div>
      <div class="color-block__name"><span class="fractal-label">Fill Class:</span> <code class="fractal-code">.u-fill-orange</code></div>
      <div class="color-block__name"><span class="fractal-label">Stroke Class:</span> <code class="fractal-code">.u-stroke-orange</code></div>
    </div>
      <div class="color-block">
      <div class="color-block__tile u-bg-gray-dark"></div>
      <div class="color-block__name"><span class="fractal-label">Sass:</span> <code class="fractal-code">$gray-dark</code></div>
      <div class="color-block__name"><span class="fractal-label">Color Class:</span> <code class="fractal-code">.u-c-gray-dark</code></div>
      <div class="color-block__name"><span class="fractal-label">Background Class:</span> <code class="fractal-code">.u-bg-gray-dark</code></div>
      <div class="color-block__name"><span class="fractal-label">Fill Class:</span> <code class="fractal-code">.u-fill-gray-dark</code></div>
      <div class="color-block__name"><span class="fractal-label">Stroke Class:</span> <code class="fractal-code">.u-stroke-gray-dark</code></div>
    </div>
      <div class="color-block">
      <div class="color-block__tile u-bg-gray-light"></div>
      <div class="color-block__name"><span class="fractal-label">Sass:</span> <code class="fractal-code">$gray-light</code></div>
      <div class="color-block__name"><span class="fractal-label">Color Class:</span> <code class="fractal-code">.u-c-gray-light</code></div>
      <div class="color-block__name"><span class="fractal-label">Background Class:</span> <code class="fractal-code">.u-bg-gray-light</code></div>
      <div class="color-block__name"><span class="fractal-label">Fill Class:</span> <code class="fractal-code">.u-fill-gray-light</code></div>
      <div class="color-block__name"><span class="fractal-label">Stroke Class:</span> <code class="fractal-code">.u-stroke-gray-light</code></div>
    </div>
      <div class="color-block">
      <div class="color-block__tile u-bg-gray-blue"></div>
      <div class="color-block__name"><span class="fractal-label">Sass:</span> <code class="fractal-code">$gray-blue</code></div>
      <div class="color-block__name"><span class="fractal-label">Color Class:</span> <code class="fractal-code">.u-c-gray-blue</code></div>
      <div class="color-block__name"><span class="fractal-label">Background Class:</span> <code class="fractal-code">.u-bg-gray-blue</code></div>
      <div class="color-block__name"><span class="fractal-label">Fill Class:</span> <code class="fractal-code">.u-fill-gray-blue</code></div>
      <div class="color-block__name"><span class="fractal-label">Stroke Class:</span> <code class="fractal-code">.u-stroke-gray-blue</code></div>
    </div>
      <div class="color-block">
      <div class="color-block__tile u-bg-white"></div>
      <div class="color-block__name"><span class="fractal-label">Sass:</span> <code class="fractal-code">$white</code></div>
      <div class="color-block__name"><span class="fractal-label">Color Class:</span> <code class="fractal-code">.u-c-white</code></div>
      <div class="color-block__name"><span class="fractal-label">Background Class:</span> <code class="fractal-code">.u-bg-white</code></div>
      <div class="color-block__name"><span class="fractal-label">Fill Class:</span> <code class="fractal-code">.u-fill-white</code></div>
      <div class="color-block__name"><span class="fractal-label">Stroke Class:</span> <code class="fractal-code">.u-stroke-white</code></div>
    </div>
  </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/js/fractal-app.js"></script>
    <script src="/js/fractal.js"></script>
  </body>
</html>

