

<!DOCTYPE html>
<html style="background-color: white;">
  <head>
    <meta charset="utf-8">

    <!-- Styleguide -->
    <link media="all" rel="stylesheet" href="/css/app.css">

    <!-- Fractal Only -->
    <link media="all" rel="stylesheet" href="/css/fractal.css">

    <script>
      (function(d) {
        var config = {
          kitId: 'fiq7lcq',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>

    <title>Default | Styleguide </title>
  </head>
  <body>

    <div class="frctl-section">
      <div class="frctl-section__entry">
      <h2 class="title title--xl">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="title title--xl"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
      <div class="frctl-section__entry">
      <h2 class="title title--xl title--uppercase">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="title title--xl title--uppercase"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
      <div class="frctl-section__entry">
      <h2 class="title title--large">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="title title--large"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
      <div class="frctl-section__entry">
      <h2 class="title title--medium">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="title title--medium"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
      <div class="frctl-section__entry">
      <h2 class="title title--small">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="title title--small"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
      <div class="frctl-section__entry">
      <h2 class="title title--xs">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="title title--xs"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
      <div class="frctl-section__entry">
      <h2 class="title title--xxs">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="title title--xxs"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
      <div class="frctl-section__entry">
      <h2 class="title title--xl title--condensed">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="title title--xl title--condensed"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
      <div class="frctl-section__entry">
      <h2 class="title title--xl title--condensed title--uppercase">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="title title--xl title--condensed title--uppercase"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
      <div class="frctl-section__entry">
      <h2 class="label">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="label"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
      <div class="frctl-section__entry">
      <h2 class="label label--bold">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="label label--bold"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
      <div class="frctl-section__entry">
      <h2 class="label label--upper">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="label label--upper"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
      <div class="frctl-section__entry">
      <h2 class="label label--upper label--bold">The quick brown fox jumps over a lazy dog.</h2>
      <span>
        <code class="fractal-code">class="label label--upper label--bold"</code>
        <code class="fractal-code fractal-type-size">font-size: <span class="fractal-insert-fontsize"></span></code>
      </span>
    </div>
    <div class="frctl-section__entry">
    <strong><em>See notes on styling header tags</em></strong>
    <h1>The quick brown fox jumps over a lazy dog. <code class="fractal-code">tag: h1</code></h1>
    <h2>The quick brown fox jumps over a lazy dog. <code class="fractal-code">tag: h2</code></h2>
    <h3>The quick brown fox jumps over a lazy dog. <code class="fractal-code">tag: h3</code></h3>
    <h4>The quick brown fox jumps over a lazy dog. <code class="fractal-code">tag: h4</code></h4>
    <h5>The quick brown fox jumps over a lazy dog. <code class="fractal-code">tag: h5</code></h5>
    <h6>The quick brown fox jumps over a lazy dog. <code class="fractal-code">tag: h6</code></h6>
  </div>
</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/js/fractal-app.js"></script>
    <script src="/js/fractal.js"></script>
  </body>
</html>

